@media screen and (max-width: 560px) {
  
    

    #main-header h2 {
        display: none;
    }
  

    nav a {
        padding: 1em 0;
    }

    figure {
        float: none;
        text-align: center;
    }

    figure img {
        width: 50%;
    }
}