@media screen and (max-width: 760px) {
  
    #main-header h1 {
        font-size: 2.1em;
    }

    #main-header h2 {
        font-size: 1.8em;
    }
    #main-content {
        flex-direction: column;
        gap: unset;
        padding: 0;
        align-items: center;
        width: 100%;
    }

    main {
        width: 100%;
        
    }
    aside {
        width: 100%;
        margin-top: 2em;
    }

  
}
